<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Red Light Green Light</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Red Light Green Light</h1>

        </div>{% block game %}<a href="/game/new" id="id_new_game">Create New Game</a>{% endblock %}
        <div class="row">
            <form method="POST"><input name="winner" type="hidden" id="winner" value="Player 1" />{% csrf_token %}</form>
        </div>
        <div class="row">
            {% block winner %}
            {% endblock %}
        </div>
    </div>

</body>

<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
    var new_game_btn = document.getElementById('id_new_game');
    new_game_btn.addEventListener('click', function(){
                $('.wait_message').css('display', 'block');
                new_game_btn.style.display = 'none';
            }
    );
</script>
</html>