{% extends 'base.html' %}

{% block game %}
    <p class="wait_message">Waiting for a challenger</p>
    <div class="row" id="light_container">
        <div id="id_light_div" class="col-lg-12 col-md-12">
            <div class="light"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1">
            <a href="/player/move/1"><div id="move"><p>Go</p></div></a>
            <br />
        </div>
        <div class="track col-lg-10 col-md-10">
            <div id="id_player_1" class="player"></div>
        </div>
        <div class="col-lg-1 col-md-1">
            <div id="id_goal_div_1"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-1 col-md-1">
            <a href="/player/stop/"><div id="pause"><p>Stop</p></div></a>
        </div>
        <div class="track col-lg-10 col-md-10">
            <div id="id_player_2" class="player"></div>
        </div>
        <div class="col-lg-1 col-md-1">
            <div id="id_goal_div_2" name="Destination"></div>
        </div>-->
    </div>
{% endblock %}
